<style type="text/css">
    .container {
        max-width: 850px;
        margin: 0 auto;
    }
    .title {
      font-size: 25px !important;
      font-weight: bold !important;
    }
    .bank-name {
      color: #0179C1 !important;
    }
    .read-more {
      color: #00A200 !important;
    }
    .second-standard-desc,
    .second-no-warranties-desc {
      display: inline;
    }
    .read-more-standard,
    .read-more-no-warranties,
    .read-more-limitation {
      cursor: pointer;
    }
    .more-standard,
    .more-no-warranties,
    .more-limitation {
      display: none;
      margin-top: 12px;
    }
    .btn-next {
        width: 400px;
        margin: 20px auto 0;
    }
    @media screen and (min-width: 240px) and (max-width: 767px) {
      .btn-next {
        width: initial;
      }
    }
</style>

<div class="container">
    <p class="intro">
      You are now leaving
      <span class="bank-name">Bank's name</span>
      website and entering a third-party UnifiMoney RIA website
      <a href="#" class="bank-link">(https://www.unifimoney.com/)</a>
    </p>

    <h3 class="standard-title title">Standard Unifimoney and Unifimoney RIA Disclaimers</h3>
    <p class="first-standard-desc">
      Unifimoney, Inc. is not a bank. Bank deposit products are provided by UMB Bank N.A., Member FDIC. FDIC
      insurance up to $750,000 (including principal & interest). To participate in the program, you must open an account
      at UMB Bank, through which your funds will be placed in accounts at participating program banks.
      The Unifimoney Visa Debit Card is issued by UMB Bank pursuant to a license from Visa Inc. and may be used
      everywhere Visa debit cards are accepted.
    </p>
    <p class="second-standard-desc">
      Investment advisory services are provided by Unifimoney RIA, Inc., an SEC-registered investment advisor.
      Unifimoney RIA, Inc is a wholly-owned subsidiary of Unifimoney Inc. For important information and disclosures
      relating to the robo-investment account visit www.unifimoney.com
      Brokerage services are provided by DriveWealth, LLC. DriveWealth is a registered broker dealer, member of FINRA
      and SIPC. Your cash and investments are protected by SIPC up to $500,000, with a limit of $250,000 for cash.
      Investment accounts are not FDIC Insured - No Bank Guarantee - May Lose Value<span class="dots-standar">...</span><div class="more-standard"><p>Cryptocurrency trading is offered through GEMINI, a digital asset platform operated by and proprietary to Gemini Trust Company, LLC, a New York trust company. Your cryptocurrency investments may lose value and are not protected by either FDIC or SIPC.</p>
      <p>Precious Metal trading is offered through GBI, a New-York-based precious metals dealer. Your precious metals investments may lose value and are not protected by either FDIC or SIPC.</p>
      <p>The Annual Percentage Yield (APY) as of 03/01/21 is 0.20% APY (0.20% interest rate). The calculation for APY is rounded to the nearest basis point. Both the interest rate and APY are variable and subject to change at our discretion at any time without notice.</p>
      </div><span class="read-more read-more-standard">Read more</span>
    </p>

    <h3 class="no-warranties-title title">No warranties</h3>
    <p class="first-no-warranties-desc desc">
      ALL CONTENT, PRODUCTS, AND SERVICES ON THE SITE, OR OBTAINED FROM A WEBSITE TO WHICH THE
      SITE IS LINKED (A "LINKED SITE"), ARE PROVIDED TO YOU "AS IS" WITHOUT WARRANTY OF ANY KIND
      EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE,
      NON-INFRINGEMENT, SECURITY, OR ACCURACY, OR IMPLIED WARRANTIES OF MERCHANTABILITY AND
      FITNESS FOR A PARTICULAR PURPOSE.
    </p>
    <p class="second-no-warranties-desc desc">
      <a href="#" class="account">XXXXXXXXX</a> DOES NOT ENDORSE AND IS NOT RESPONSIBLE FOR (A) THE ACCURACY OR RELIABILITY OF
      ANY OPINION, ADVICE OR STATEMENT MADE THROUGH THE SITE BY ANY PARTY OTHER THAN AMERIPRISE
      FINANCIAL, (B) ANY CONTENT PROVIDED ON LINKED SITES OR (C) THE CAPABILITIES OR RELIABILITY OF ANY PRODUCT OR SERVICE OBTAINED FROM A LINKED SITE<span class="dots-no-warranties">...</span><div class="more-no-warranties">
        <p>
          OTHER THAN AS REQUIRED UNDER APPLICABLE CONSUMER PROTECTION LAW, UNDER NO CIRCUMSTANCE WILL [XXXXXXXXX] OR ITS DATA- OR CONTENT-PROVIDERS BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A USER'S RELIANCE ON INFORMATION OBTAINED THROUGH THE SITE OR A LINKED SITE, OR USER'S RELIANCE ON ANY PRODUCT OR SERVICE OBTAINED FROM A LINKED SITE. IT IS THE RESPONSIBILITY OF THE USER TO EVALUATE THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY OPINION, ADVICE OR OTHER CONTENT AVAILABLE THROUGH THE SITE, OR OBTAINED FROM A LINKED SITE. PLEASE SEEK THE ADVICE OF PROFESSIONALS, AS APPROPRIATE, REGARDING THE EVALUATION OF ANY SPECIFIC OPINION, ADVICE, PRODUCT, SERVICE, OR OTHER CONTENT. DOES NOT ENDORSE AND IS NOT RESPONSIBLE FOR (A) THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE OR STATEMENT MADE THROUGH THE SITE BY ANY PARTY OTHER THAN [XXXXXXXXX], (B) ANY CONTENT PROVIDED ON LINKED SITES OR (C) THE CAPABILITIES OR RELIABILITY OF ANY PRODUCT OR SERVICE OBTAINED FROM A LINKED SITE.
        </p>
        <p>
          OTHER THAN AS REQUIRED UNDER APPLICABLE CONSUMER PROTECTION LAW, UNDER NO CIRCUMSTANCE WILL [XXXXXXXXX] OR ITS DATA- OR CONTENT-PROVIDERS BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A USER'S RELIANCE ON INFORMATION OBTAINED THROUGH THE SITE OR A LINKED SITE, OR USER'S RELIANCE ON ANY PRODUCT OR SERVICE OBTAINED FROM A LINKED SITE. IT IS THE RESPONSIBILITY OF THE USER TO EVALUATE THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY OPINION, ADVICE OR OTHER CONTENT AVAILABLE THROUGH THE SITE, OR OBTAINED FROM A LINKED SITE. PLEASE SEEK THE ADVICE OF PROFESSIONALS, AS APPROPRIATE, REGARDING THE EVALUATION OF ANY SPECIFIC OPINION, ADVICE, PRODUCT, SERVICE, OR OTHER CONTENT.
        </p>
      </div><span class="read-more read-more-no-warranties">Read more</span>
    </p>

    <h3 class="limitation-title title">Limitation of liability for use of the site and linked sites</h3>
    <p class="limitation-desc desc">
      THE INFORMATION, SOFTWARE, PRODUCTS AND DESCRIPTIONS OF SERVICES PUBLISHED ON THE SITE OR
      A LINKED SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. <a href="#" class="account">XXXXXXXXX</a> AND ITS DATA- AND CONTENT-PROVIDERS SPECIFICALLY DISCLAIM ANY LIABILITY FOR ANY INACCURACIES OR ERRORS. <a href="#" class="account">XXXXXXXXX</a> AND ITS DATA- AND CONTENT-PROVIDERS DO NOT WARRANT OR REPRESENT THAT THE CONTENT ON THE SITE IS COMPLETE OR UP-TO-DATE. <a href="#" class="account">XXXXXXXXX</a> IS UNDER NO OBLIGATION TO UPDATE ANY CONTENT ON THE SITE. <a href="#" class="account">XXXXXXXXX</a> MAY CHANGE THE CONTENT ON THE SITE AT ANY TIME WITHOUT NOTICE. <a href="#" class="account">XXXXXXXXX</a> MAY MAKE IMPROVEMENTS OR CHANGES TO THE SITE AT ANY TIME<span class="dots-limitation">...</span><span class="more-limitation">YOU AGREE THAT NEITHER [XXXXXXXXX] , NOR ITS DATA- OR CONTENT-PROVIDERS, ITS OR THEIR AFFILIATES OR ANY OF ITS OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS WILL BE LIABLE, WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, FOR ANY PUNITIVE, SPECIAL, CONSEQUENTIAL, INCIDENTAL OR INDIRECT DAMAGES (INCLUDING WITHOUT LIMITATION LOST PROFITS, COST OF PROCURING SUBSTITUTE SERVICE OR LOST OPPORTUNITY) ARISING OUT OF OR IN CONNECTION WITH THE USE OF THE SITE OR A LINKED SITE, OR WITH THE DELAY OR INABILITY TO USE THE SITE OR A LINKED SITE, EVEN IF [XXXXXXXXX]  IS MADE AWARE OF THE POSSIBILITY OF SUCH DAMAGES. FURTHERMORE, YOU AGREE THAT NEITHER [XXXXXXXXX]  NOR ITS DATA OR CONTENT PROVIDERS, OR ITS OR THEIR AFFILIATES OR ANY OF ITS OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS WILL BE LIABLE UNDER ANY THEORY OF LIABILITY FOR THE TRANSMISSION OF ANY VIRUSES WHICH MAY INFECT A USER'S EQUIPMENT, FAILURE OF MECHANICAL OR ELECTRONIC EQUIPMENT OR COMMUNICATION LINES, TELEPHONE OR OTHER INTERCONNECT PROBLEMS (E.G., YOU CANNOT ACCESS YOUR INTERNET SERVICE PROVIDER), UNAUTHORIZED ACCESS, THEFT, OPERATOR ERRORS, STRIKES OR OTHER LABOR PROBLEMS OR ANY FORCE MAJEURE. [XXXXXXXXX]  CANNOT AND DOES NOT GUARANTEE CONTINUOUS, UNINTERRUPTED OR SECURE ACCESS TO THE WEB SITE.</span><span class="read-more read-more-limitation">Read more</span>
    </p>

    <q2-checkbox label="I totally agree with the above terms and conditions" value="agree" onchange="changeHandler(event)"></q2-checkbox>

    <div class="btn-next">
        <q2-btn id="my_submit" disabled color="primary" block>Next</q2-btn>
    </div>

    <script src="{{ this.base_assets_url }}/index.js"></script>
    <script>
        const readMoreStandardBtn = document.querySelector('.read-more-standard')
        const readMoreNoWarrantiesBtn = document.querySelector('.read-more-no-warranties')
        const readMoreLimitationBtn = document.querySelector('.read-more-limitation')

        if (readMoreStandardBtn) {
          readMoreStandardBtn.addEventListener('click', () => handleReadMore('.dots-standar', '.more-standard', readMoreStandardBtn))
        }

        if (readMoreNoWarrantiesBtn) {
          readMoreNoWarrantiesBtn.addEventListener('click', () => handleReadMore('.dots-no-warranties', '.more-no-warranties', readMoreNoWarrantiesBtn))
        }

        if (readMoreLimitationBtn) {
          readMoreLimitationBtn.addEventListener('click', () => handleReadMore('.dots-limitation', '.more-limitation', readMoreLimitationBtn))
        }

        function handleReadMore(dotsClass, moreClass, btn) {
          const dots = document.querySelector(dotsClass)
          const moreText = document.querySelector(moreClass)

          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btn.innerHTML = "Read more";
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btn.innerHTML = "Read less";
            moreText.style.display = "block";
          }
        }

        function changeHandler(event) {
          event.stopPropagation();
          let checked = event.detail.checked
          event.target.checked = checked;
          // additional side effects
          console.log({a:event.target, b: event.detail})
          document.querySelector("#my_submit").setAttribute("disabled", !checked);
        }
    </script>
</div>
