<style type="text/css">
    .container {
        background-image: url('https://demo.q2.com/salesdemo_experimental/sdk/q2api/assets/images/backgroundUnifi.png');
        padding: 20px 20px 40px;
        margin: 0 auto;
    }
    .investment-title {
      font-size: 25px !important;
      font-weight: bold !important;
    }
    .investment-caption {
      font-size: 26px !important;
    }
    .image-info {
      display: flex;
      gap: 0 20px;
      margin: 20px 0;
    }

    .investment-desc {
      margin-bottom: 50px !important;
    }

    .btn-started {
        width: 400px;
        margin: 20px auto 0;
    }

    @media screen and (min-width: 240px) and (max-width: 767px) {
      .btn-started {
        width: initial;
      }
    }
</style>


  <div class="container">
      <h3 class="investment-title">Investments</h3>
      <p class="investment-caption">
        Invest in crypto currencies, precious metals and equities all in one place with Unifimoney today.
      </p>

      <div class="image-info">
        <q2-avatar src="https://demo.q2.com/salesdemo_experimental/sdk/q2api/assets/images/bitcoinIcon.png"></q2-avatar>
        <q2-avatar src="https://demo.q2.com/salesdemo_experimental/sdk/q2api/assets/images/goldIcon.png"></q2-avatar>
        <q2-avatar src="https://demo.q2.com/salesdemo_experimental/sdk/q2api/assets/images/chartIcon.png"></q2-avatar>
      </div>

      <p class="investment-desc">
        Digital wealth management services provided by Unifimoney Inc. and Unifimoney RIA Inc. a registered investment advisor.
      </p>

      <div class="btn-started">
          <q2-btn id="my_submit" color="primary" block>Get Started</q2-btn>
      </div>

      <script src="{{ this.base_assets_url }}/index.js"></script>
  </div>
