<div class="container_" id="unifimoney_form"></div>
<style>
    .iframe{
        width: 100%;
        height: 680px;
    }
</style>
<script>
    tecton.connected.then(function() {
        tecton.actions.showModal({
            title: 'Invest with Unifimoney',
            customMarkup: '<p class="limitation-desc desc" style="text-align: left;">You are now leaving Thrive Credit Union and you are entering Unifimoney Inc, and Unifimoney RIA.  Unifimoney Inc. is not a Bank and is not FDIC insured.  Unifimoney RIA is an affiliate of Unifimoney Inc and is an SEC registered investment advisor.</p><p class="limitation-desc desc" style="text-align: left;">Investment Products: Are Not FDIC Insured, Are Not Bank Guaranteed, May Lose Value, Are Not Deposits, Are Not Insured by Any Federal Government Agency, Are Not a Condition to Any Banking Service or Activity. Nothing contained on our Sites constitute investment, legal or tax advice.</p><p class="limitation-desc desc" style="text-align: left;">The opinions of Unifimoney, Inc and Unifimoney RIA expressed on this Website represent its good faith views and are provided for limited purposes, are not definitive investment advice, and should not be relied upon as such. Information and opinions provided by third parties have been obtained from sources believed to be reliable, but accuracy and completeness cannot be guaranteed.</p><p class="limitation-desc desc" style="text-align: left;">The content of this website is not designed or intended to provide authoritative financial, accounting, investment, legal or other professional advice, which may be reasonably relied on by its readers. If expert assistance in this area is required, the services of a qualified professional should be sought.</p>',
            isBlocking: true,
            button1: {
                text: 'OK',
                actionName: 'OK',
            },
            button2: {
                text: 'Cancel',
                actionName: 'CANCEL',
            }
        }).then(function(actionName) {
            if (actionName === 'OK') {
                const unfimoneyForm = document.getElementById("unifimoney_form");
                unfimoneyForm.innerHTML = `
                <div id="unifimoney_form"><iframe src="{{url}}" title="Unifimoney webapp" class="iframe"></iframe></div>`;
            }
            if (actionName === 'CANCEL') {
                tecton.actions.navigateTo('landingPage', []);
            }
        });
    });
</script>