<style type="text/css">
    .container_ {
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
    }
    .btn-update {
        margin: 20px auto 0;
    }
    .q2-btn{
        width: 150px;
    }
    .iframe{
        width: 100%;
        height: 680px;
    }
</style>

<div class="container_" id="unifimoney_form">
    <h3 class="title">Welcome to Unifimoney</h3>
    <p class="desc">{{notification_message}}</p>
    <div class="q2-row">
        <q2-input
            class="q2-col w(1x)"
            name="region_code"
            id="region_code"
            placeholder="+1"
            value="+1"
            disabled
        ></q2-input>
        <q2-input
            type="phone"
            class="q2-col"
            name="phone_number"
            id="phone_number"
            placeholder="(123) 456-7890"
            oninput="validateInputEvent(event)"
        ></q2-input>
    </div>
    <p class="info">This phone number is used to register with Unifimoney and receive OTP when trading in Unifimoney platform</p>
    
    <div class="btn-update">
        <q2-btn class="q2-btn" id="my_submit" color="primary">Update</q2-btn>
        <q2-btn class="q2-btn" id="btn_no" color="primary" onclick="onHandleRedirectToOnboardUnifimoney(event)">No</q2-btn>
    </div>
    <script src="{{ this.base_assets_url }}/index.js"></script>
    <script>
        function onHandleRedirectToOnboardUnifimoney(evt){
            const unfimoneyForm = document.getElementById("unifimoney_form")
            unfimoneyForm.innerHTML = `
                <div id="unifimoney_form"><iframe src="{{url}}" title="Unifimoney webapp" class="iframe">
                </iframe></div>
            `;
        }
</script>
</div>
