<style type="text/css">
    .container {
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
    }
    .btn-update {
        width: 200px;
        margin: 20px auto 0;
    }
</style>

<div class="container">
    <h3 class="title">Welcome to Unifimoney</h3>
    <p class="desc">{{notification_message}}</p>
    <div class="q2-row">
        <q2-input
            class="q2-col w(1x)"
            name="region_code"
            id="region_code"
            placeholder="+1"
            value="+1"
            disabled
        ></q2-input>
        <q2-input
            type="phone"
            class="q2-col"
            name="phone_number"
            id="phone_number"
            placeholder="(123) 456-7890"
            oninput="validateInputEvent(event)"
        ></q2-input>
    </div>
    <p class="info">This phone number is used to register with Unifimoney and receive OTP when trading in Unifimoney platform</p>

    {% if message %}
         <q2-message type="error">{{message}}</q2-message>
    {% endif %}
    
    <div class="btn-update">
        <q2-btn id="my_submit" color="primary" block>Update</q2-btn>
    </div>
    <script src="{{ this.base_assets_url }}/index.js"></script>
</div>
