<q2-message type="error">
  {{ message }}
</q2-message>
<div>
    <q2-btn color="primary" onclick="navigateToHome(event)">Go Back</q2-btn>
</div>
<script>
    function navigateToHome(evt){
        tecton.connected.then(function() {
            tecton.actions.navigateTo('landingPage', []);
        });
    }
</script>